body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #e9edf7;
}

.header {
    background: #2D7DF6;
    padding: 50px 0;
    text-align: center;
    color: white;
    font-size: 45px;
    font-weight: 700;
}

.layout {
    display: flex;
}

.sidebar {
    width: 260px;
    background: #162232;
    color: white;
    padding: 40px 30px;
    height: calc(100vh - 150px);
}

.sidebar h2 {
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 600;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.sidebar ul li {
    margin: 15px 0;
    font-size: 16px;
    cursor: pointer;
    font-weight: 300;
}

.content {
    flex: 1;
    padding: 40px 45px;
}

.stats-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.stat-box {
    background: white;
    padding: 22px 0;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
    color: #2a2a2a;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.12);
    border-left: 6px solid #2D7DF6;
}

.cards {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 500;
    color: #222;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.12);
}